<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.kevinmost.overlauncher"
  xmlns:android="http://schemas.android.com/apk/res/android"
  >

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

  <application
    android:name=".app.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">

    <activity
      android:name=".activity.MainActivity"
      android:excludeFromRecents="true"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:screenOrientation="nosensor"
      android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
      >
      <intent-filter>
        <action android:name="android.intent.action.ASSIST"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <service android:name=".service.OverlayService"/>

  </application>

</manifest>
